<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
{{>navbar}}
 <div class="container_fluid main_header">
  <div class="row">
     <div class="col-md-10 col-12 mx-auto">
        <div class="row">

            <div class="col-md-12 col-12 main_header_left align-items-center">
              <figure>
                  <img src="images/404error.jpg" alt="image not found" class="img-fluid">
              </figure>
            
            
             <h1>Oops ! <span class="text_clr"> Error Page, </span> Page Not Found</h1>
            </div>
           
        </div>  
     </div>
  </div>
</div> 
{{>footer}} 
</body>
</html>