<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
{{>navbar}}
 <div class="container_fluid main_header">
  <div class="row">
     <div class="col-md-10 col-12 mx-auto">
        <div class="row">

            <div class="col-md-6 col-12 main_header_right">
              <figure>
                  <img src="images/me.png" alt="image not found" class="img-fluid">
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
             <p>Welcome to weather app</p>
             <h1>I Am a <span class="text_clr"> Mern Stack Developer </span> And A Programmer</h1>
             
            </div>
           
        </div>  
     </div>
  </div>
</div> 
{{>footer}} 
</body>
</html>